{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <title>Frolleague | Landing</title>
    
    <link href="{% static 'images/favicon.png' %}" rel="icon" type="image/png"> 
    <link rel="stylesheet" href="{% static 'css/landing_bootstrap.min.css' %}">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>  
    <link rel="stylesheet" href="{% static 'css/landing_main.css' %}">

</head>

<body>

    <div class="main">
	
        <header class="index">
            <div class="head-content">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-8 col-lg-4 pad-left-0 float-left">
                            <img src="{% static 'images/landing_logo.png' %}">
                        </div>
                        <div class="col-12 col-sm-4 col-lg-8 float-right pad-right-0 social">
							<div class="main-nav">
                
                    <nav class="navbar navbar-expand-lg navbar-light">
                        
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Why Frolleague?</a>
                                   
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About Us</a>
                                    
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Sign In</a>
                                   
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link pad-right-0" href="#">Register</a>
                                   
                                </li>

                            </ul>

                        </div>
                    </nav>
              
            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="banner">
            <div class="row"> 
			 <div class="col-md-7 col-sm-6">
			 
					<img src="{% static 'images/banner-rev-final (1).png' %}" class="img-responsive">
            </div>
			 <div class="col-md-5 col-sm-6 banner_text">
					<h2>Great Features With Best Messaging App</h2>
					<p>Lorem Ipsum is simply dummy text of the texting printing and typesetting industry. Lorem Ipsum has been is a the industry's standard dummy text ever since the 1500s</p>
					<a href="#">Join Frolleague</a>
			</div>
			</div>
        </section>
        
		<section class="story">
		
			<div class="container bg_white">
			<div class="row"> 
				<div class="col-md-6">
					<h3>Why Frolleague?</h3>
					<p>	Lorem Ipsum is simply dummy text of the texting printing and typesetting industry. Lorem Ipsum has been is a the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
	<br> <br>when an unknown printer took a galley of type and scrambled it to make a type specimen but also the leap into electronic typesetting, remaining essentially unchanged.</p>
			
				</div>
				<div class="col-md-6 ">
<video width="100%" controls>
  <source src="{% static 'images/mov_bbb.mp4' %}" type="video/mp4">
  <source src="{% static 'images/mov_bbb.ogg'  %}" type="video/ogg">
  Your browser does not support HTML5 video.
</video>
				</div>
				</div>
            </div>
        </section>
<section class="about">
			<div class="container">
			<div class="row"> 
				<div class="col-md-6 pad-left-0">
					<h5>ABOUT US</h5>
					<h3>We provide enterprises with the top  innovative thermal imaging and  laser equipment</h3>
					
				</div>
				<div class="col-md-6 pad-right-0">
<p>Lorem Ipsum is simply dummy text of the texting printing and typesetting industry. Lorem Ipsum has been is a the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled.
when an unknown printer took a galley of type and scrambled it to make a type specimen remaining essentially unchanged.</p>


				</div>
				<div class="col-md-12 col-sm-12 pad-left-0 pad-right-0">
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>

				</div>
				</div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 pad-left-0">
                        <div class="site">
                            <h4><i class="fa fa-phone"></i> +1 586 968 6568</h4>
                            <p> <a href="#">Contact Us</a></p>
                        </div>
                    </div>
					<div class="col-md-6 col-sm-6 pul-right pad-right-0">
                       <div class="top-right">
                    <span>Follow us on :</span>
                    <ul class="dt-sc-social-icons">
                        <li> <a href="#" title="facebook"> <i class="fa fa-facebook"></i>  </a> </li>
                        <li> <a href="#" title="twitter"> <i class="fa fa-twitter"></i>  </a> </li>
                        
                        <li> <a href="#" title="Rss"> <i class="fa fa-rss"></i>  </a> </li>
						<li> <a href="#" title="google-plus"> <i class="fa fa-google-plus"></i>  </a> </li>
                        <li> <a href="#" title="linkedin"> <i class="fa fa-linkedin"></i>  </a> </li>
                    </ul>
                </div>
                    </div>
                   
                        </div>
             <div class="row">       
  <div class="footer_botm text-center ft w-100">
            <p>© frolleague All rights reserved &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;<a href="#">Terms and conditions</a>  &nbsp;&nbsp;&nbsp|&nbsp;&nbsp;&nbsp; <a href="#"> Privacy Policy </a>
            </p>
        </div>
		</div>
		</div>
        </footer>

      

    </div>
    <script src="{% static 'js/landing_jquery.min.js' %}"></script>
    <script src="{% static 'js/landing_bootstrap.min.js' %}"></script>
</body>

</html>
